extends layout 
block content
  .row.banner
    .col-12
      h1 Hotel Finder
        small &nbsp;Find hotels that cater for weddings near you!
  .row
    .col-12.col-md-8

      .card
        .card-block
          h4
            a(href="/location") Brandon Hotel
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right € 100
          p.address Prince's St, Tralee, Co. Kerry, V92 PVK6
          .facilities
            span.badge.badge-warning Dance Hall
            span.badge.badge-warning Good Food
            span.badge.badge-warning Premium wedding room

      .card
        .card-block
          h4
            a(href="/location") Ballygarry Hotel
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
            span.badge.badge-pill.badge-default.float-right € 114
          p.address Leebrook, Tralee, Co. Kerry, V92 W279
          .facilities
            span.badge.badge-warning Chapel
            span.badge.badge-warning Excellent Food
            span.badge.badge-warning Premium Service 

      .card
        .card-block
          h4
            a(href="/location") Meadowlands Hotel 
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            span.badge.badge-pill.badge-default.float-right € 99
          p.address Oakpark, Tralee, Co. Kerry
          .facilities
            span.badge.badge-warning DJ
            span.badge.badge-warning Food
            span.badge.badge-warning Premium rooms
      
      

    .col-12.col-md-4
      p.lead Looking for hotel for your wedding? Hotel Finder helps you find hotels that cater for weddings. Let Hotel Finder help you find the place you're looking for.
